/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "normalize.less";

//-------------------------
// Color Palette
//-------------------------
@decorative: rgb(184,160,98);
@accent: #765c23;
@light:#FAFAFA;
@lighter:#EEEEEE;
@white:#FCFCFC;
@grey:#CCCCCC;
@dark:#AAAAAA;
@darker:#777777;
@darkest:#111111;
@action:#c19849;
@brand-secondary:       #499DCC;

@import "animation.less";
@import "writing-elements.less";
@import "mixins.less";
@import "code.less";

@font-size-normal:18px;
@font-size-header:38px;



//-------------------------
// Generic Elements
//-------------------------
body {
    font-family: Cardo, Georgia;
    -webkit-font-smoothing: antialiased;
    position:relative;
    height:100%;
    width:100%;
    line-height:1.7em;
    background-color:@white;
    color:#333332;
    background-color:@light;
    font-size:@font-size-normal;
}
::selection {
  background: lighten(@action, 12%); /* Safari */
  }
::-moz-selection {
  background: lighten(@action, 12%); /* Firefox */
}
h1 {
  color:@darkest;
  font-size:@font-size-header;
  font-weight:normal;
  padding:0;
  margin:0;
  margin-bottom:16px;
}
h2 {

}
a {
    color: @action;
    text-decoration: none;
}
hr {
    float: none;
    width: 100%;
    padding:0 85px;
    position:relative;
    left:-85px;

    height: 1px;
    margin-top:10px;
    margin-bottom:30px;
    border: none;
    background: @grey;
}

table {
  margin-bottom:45px;
  border-bottom:solid 1px @grey;
  thead {
    text-transform:uppercase;

    border-bottom:solid 1px @grey;
    th {
       border-width:0;
    }
  }
  tr {

  }
  td, th {
    padding:0 10px;
    border-left:solid 1px @grey;
    border-right:solid 1px @grey;
  }
  .odd {
    background-color: @lighter;
  }

}



.container {
  position:relative;
  width: 660px;
  // margin-left: 220px;
}

article {
    padding-top:25px;
    padding-bottom:35px;

    header {
      text-align:center;
      margin-bottom:15px;
      // font-size:2em;
      h1 {
        font-size:2em;
        line-height:1.2em;
        margin-bottom:0;
      }
      .subtitle {

      }
    }

    h1 {
      font-size:1.4em;
      // margin-bottom:15px;
    }
    // header h1 {
      

    // }
    .article-header {
      padding-top:10px;
      padding-bottom:10px;
    }
    &.brief {
      padding-top:15px;
      padding-bottom:15px;
      height:100px;
      header {
        .article-header {
          padding-top:25px;
          h1 {
            font-size:1.0em;
            margin-bottom:5px;
            text-align:left;
            margin-top:0;
          }
        }
        .subtitle {
          font-size:0.9em;
          line-height:1.2em;
          text-align:left;
        }
        
      }
      
      header {
        margin:0;
      }
    }
    &.inline-brief {
      display:inline-block;
      vertical-align: top;
      width:200px;
      margin-right:15px;
      header {
        text-align:left;
      }
    }

    &:last-of-type {
      .break {
        display:none;
      }
    }
    .article-end {
      text-align:center;
      color:@grey;
      font-size:40px;

    }
}

ul.archive {
  margin-top:20px;
  margin-bottom:160px;
}


.subtitle {
  font-size:22px;
  color:#838994;
}
h1 {
  margin-top:60px;
}
p {
    margin-bottom:25px;
    margin-top:10px;
    line-height:1.6;
    a {
      box-shadow: 0px -4px 0px #C19849 inset;
      color: @darkest;
    }
}



.small-break {
  position:relative;
  border-bottom:1px solid @grey;
  width:25%;
  margin-left:auto;
  margin-right:auto;
}


#page {
  position:relative;
  display:inline-block;

  height:100%;
  min-height:400px;
  
  box-sizing: padding-box;

  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;

  margin-left:205px;
  margin-bottom:10px;
  
  img {
    &.left {
      float:left;
      margin-top:20px;
      margin-bottom:15px;
      margin-right:60px;
      margin-left:0px;
    }
    &.right {
      float:right;
      margin:0;
      margin-left:15px;
    }
    
  }
}

ul {
  margin-top:-5px;
  margin-bottom:25px;
}

header.logo {
  position:relative;
  margin-top:80px;
  color:@darker;
  z-index:10;
  text-align:center;
  h1 {
    font-size:42px;
    color:@darkest;
    font-weight:normal;
    margin-bottom:0px;
    z-index:100;
    letter-spacing: 4px;
    font-family: Lato;
    text-transform: uppercase;
    padding:5px;
    text-align: center;
    .dropped {
      font-size:60px;
      position: relative;
      bottom: -12px;

    }
    .underlined {
      border-bottom:1px solid @action;
    }
    .subtitle {
      text-transform: uppercase;
      font-size:12px;
      position:relative;
      top:5px;
      letter-spacing: 0px;
      font-family: Cardo, Georgia;
    }
  }
 
}

#page header nav {
    display: inline-block;
    position:relative;
    left:-4px;
    z-index: 30;
    margin:25px 0;
    display:block;
    font-size:@font-size-normal;
    color:@action;
    font-family: Cardo;
    text-transform: capitalize;
    text-align: center;

    a.nav-link {
        position:relative;
        text-align:left;
        // width:100px;
        margin-right: 20px;
        line-height:1em;
        display:inline-block;
        border-bottom:4px solid transparent;
        transition: border-bottom-color 0.25s ease-in-out;
        -moz-transition: border-bottom-color 0.25s ease-in-out;
        -webkit-transition: border-bottom-color 0.25s ease-in-out;

        color: @action;
        text-decoration: none;

        &:hover {
          border-bottom-color:@darkest;
        }
        &#last {
          margin-right:0px;
        }
        &.nav-selection {
           border-bottom-color:#E5E5E5;
          &:hover {
             border-bottom-color:@darkest;
          }
        }
        &.other {
          color:@grey;
          .btn {
            background-color: transparent !important;
          }

        }

    }
    .twitter-share-button {
      position:relative;
      top:3px;
    }
}


#gears {
    display:block;
    position:relative;
    margin-top:30px;
    width:170px;
    height:250px;
    z-index:2;
    margin-bottom: 25px;
    opacity:1.0;

    // right:-70px;

    position:absolute;
    left:-50px;
    top:-50px;
    svg {
        position:absolute;
        display:inline-block;
        width:100px;
        height:100px;
        top:12px;
        left:64px;

        .sun path {
            fill: @action;
            stroke:@darkest;
        }

        .planet path {
            fill: @action;
            stroke:@darkest;
        }

        .annulus path {
          fill: #555;
          stroke:@darkest;
        }

        .inset circle {
            fill:#434343;
        }

    }

    #mortimer {
        position:absolute;
        left:0px;
        width:220px;
        height:auto;
        width:170px;
        height:auto;
        z-index:4;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
        // #mortimer {
        opacity:0.7;
      // }
    }
    // &:hover {
    //   opacity:1;
      
    // }

    #skull {
      position:absolute;
      left:0px;
      width:220px;
      height:auto;
      width:170px;
      height:auto;
      z-index:-2;
    }

}

footer {
  // padding-bottom:100px;
  color:@darker;
  // text-align: center;
  bottom:0px;
  width:100%;
}


.break {
  position:relative;
  display:block;
  text-align: center;
  margin-top:-35px;
  width:75px;
  height:75px;
  margin-left:auto;
  margin-right:auto;

  svg {
      display:block;
      position:relative;
      top:-30px;
      z-index:5;
      path {
        stroke:@darkest;
        fill:@light;
      }
  }
  hr.strike {
    position:relative;
    top:37px;
    background-color:#EEEEEE;
    background-color: #DDD;
    z-index:1;
  }
}


.side-bar {
  position:relative;
  float:left;
  margin-left:0px;
  margin-right:25px;
  width:185px;
  // overflow:hidden;
  text-align:right;

  transition: margin 0.5s ease-in-out, width 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out, width 0.5s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out, width 0.5s ease-in-out;

 
  h1 {
    font-size:35px;
    color:@darkest;
    font-weight:normal;
    margin-bottom:px;
    z-index:100;
    letter-spacing: 4px;
    font-family: Lato;
    text-transform: uppercase;
    padding:5px;
    line-height:1.2em;
  }
}

.notice {
  &.draft {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    .title {
      background-color:lighten(@action, 30%);
      border: 1px solid @action;
      .rounded(3px);
      padding:1px 6px;
    }
  }
  &.book-being-published {
    .title {
        // font-family: Lato;
        // text-transform: uppercase;
        // font-weight: bold;
        font-size:1.5em;
        margin-bottom:8px;
    }
    background-color:@lighter;
    border: 1px solid @grey;
    .rounded(3px);
    padding:15px;
  }
}

.encode {
  unicode-bidi: bidi-override;
  direction: rtl;
}

aside.notice {
  background-color:@light;
  padding:15px;
  margin:15px 0px;
  border:1px solid @grey;
  border-radius: 5px;
}

button {
  background-color:@lighter;
  // color:@action;
  border:1px solid @grey;
  padding:2px 7px;
  margin-top:4px;
  margin-bottom: 6px;
  .rounded(3px);

  // margin-top: 55px;
  // margin-bottom: 55px;
  // margin-left: auto;
  // margin-right: auto;
  // padding-top: 5px;
  // padding-bottom: 5px;
  padding: 5px 20px;
  display: inline-block;
  position: relative;
  // width: 240px;
  min-width:100px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  .rounded(3px);
  background-color: @action;
  // color: #f1f1f1;
  background-image: -webkit-linear-gradient(top, @action, darken(@action,5%));
  border-style: solid;
  border-width: 1px;
  // border-color: #000;
  cursor: pointer;
  background-color:darken(@action,5%);
  color: @darkest;


  transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  -webkit-transition: border-color 0.25s ease-in-out;
  &:hover {
      // background-color:@gray;
      border-color:@darkest;
  }
  input {
    background:transparent;
    border:none;
  }
}
#mc_embed_signup {
  margin-bottom:30px;
  // padding-top:5px;
  .mc-field-group{
    float:left;
    margin-right:20px;
    margin-top:15px;
    input {
      padding:7px 15px;
    }
  }
  button {
    margin-top:15px;
  }
}

.post-date {
  float:right;
  color:@dark;
}
.grey {
  color:@grey;
}

.copyright {
  margin-top:35px;
  color:@darkest;
  text-align: center;
}

.article-group {
  display:block;
  // text-align: center;
}

.icon {
  display:block;
  width:100px;
  height:100px;
  float:left;
  margin-right:15px;
}

.planetary-gear-icon {
  // display:inline-block;
  // // float:left;
  // width:100px;
  // height:100px;
  // float:left;
  // margin-right:15px;
  path {
    stroke:@action;
    fill:@lighter;
  }
}

#poly-icon {
  position:relative;
  // margin-left:auto;
  // margin-right:auto;
  // width:100px;
  // height:100px;
  .rounded(50px);
  overflow:hidden;
  // display:block;
  // float:left;
  .icon();

}
.manatee-icon {
  // display:block;
  // position:relative;
  // // margin-left:auto;
  // // margin-right:auto;
  // width:100px;
  // height:100px;
  // float:left;

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@import "responsive.less";
