


/* Make the responsive properties animated! */

header.logo h1 {
  transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -webkit-transition: font-size 0.5s ease-in-out;
}

.container {
  transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;

  transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -webkit-transition: margin-left 0.5s ease-in-out;
}


#gears {
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out,opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.small-version() {
  .side-bar {
    width:0px;
  }
  .indent {
    margin-left:0px;
  }
  #gears {
    transform: scale(0.50, 0.50);
    // left:50%;
    // top:-140px;
    // opacity:0.2;
    // margin-left:-90px;
    left: -140px;
    top: -105px;
    opacity:1;
  }
  img.portrait {
    width:100px;
    height:auto;
  }
  #page {
    // margin-left:5px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }
  .container {
    // margin-left:0px;
    width:90%;
    max-width: 660px;
  }
  header.logo {
    margin-left:100px;
    text-align:left;
    h1 {
      margin-top:0;
      font-size: 20px;
      line-height: 18px;
      display:inline-block;
      .dropped {
        font-size: inherit;
        // border-bottom:1px solid #c19849;
        line-height: 18px;
        bottom:0;
        // position: relative;
        // bottom: -6px;
      }
      .underlined {
        border-bottom:none;
      }
      .elephant-line {
        border-bottom:1px solid #c19849;
      }
      .subtitle {
        font-size:10px;
      }
    }
    
  }

  #page header a {
      &:before{
        opacity:0;
      }
      &:after{
        opacity:0;
      }
  }
  .share-links {
    display:block;
  }
  #page img {
    // float:left;
    &.right {
      float:right;
    }
  }
}

.medium-version() {
  .side-bar {
    width:105px;
  }
  #page {
    margin-left:125px;
  }
  #gears {
    transform: scale(0.75, 0.75);
    left: -120px;
    top: -80px;
    opacity:1;
    margin-left:0;
  }
  .container {
    width:90%;
    max-width: 660px;
  }
  header.logo {
    margin-left:70px;
    text-align:center;
    h1 {
      font-size: 30px;
      line-height: 25px;
      margin-top:10px;
      display:inline-block;
      .dropped {
        font-size: 40px;
        position: relative;
        bottom: -6px;
      }
      .underlined {
        border-bottom:1px solid #c19849;
      }
      .elephant-line {
        border-bottom:none; 
      }
      .subtitle {
        font-size:12px;
      }
    }
    
  }
  .indent {
    margin-left:90px;
  }
  #page img {
    &.right {
      float:right;
    }
  }
}

.large-version() {
  #page {
    margin-left:205px;
  }
  .side-bar {
    width:185px;
  }
  .container {
    width: 660px;
    // margin-left: 220px;
  }
  #gears {
    transform: none;
    left:-180px;
    top:-90px;
    opacity:1;
  }
  header.logo {
    margin-left:0;
    text-align:center;
    h1 {
      font-size: 42px;
      line-height: 35px;
      margin-top: 60px;
      display:block;

      .dropped {
        font-size:60px;
        position: relative;
        bottom: -12px;

      }
      .subtitle {
        font-size:12px;
      }
    }
    
  }
  .indent {
    margin-left:0;
  }
  #page img {
    // float:left;
    &.right {
      float:right;
    }
  }
}










/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
   .small-version();
   // #page img {
   //    float:none;
   //    &.right {
   //      float:none;
   //    }
   //  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
  .small-version();
  // #page img {
  //   float:none;
  //   &.right {
  //     float:none;
  //   }
  // }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
   .small-version();
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
   .medium-version();
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
   .medium-version();
}


@media only screen
and (min-width : 768px) {
/* Styles */
    .medium-version();
}




/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
    .medium-version();
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
   .large-version();
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
    .large-version();
}

/* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
//     .small-version();
// }
