

.drop {
    font-family:Cardo, georgia;
    position:relative;
    font-size:65px;
    line-height:55px;
    padding-right:6px;
    padding-left:3px;
    padding-top:6px;
    float:left;
}

.drop-first::first-letter {
    .drop();
}

#page .boxed {
  background-color:@lighter;
  padding:20px;
  margin-left:-20px;
  margin-right:-20px;
  margin-bottom:25px;
  box-sizing: content-box;

  .rounded(7px);
  p:first-of-type {
    padding-top:0;
    margin-top:0;
  }
  p:last-of-type {
    padding-bottom:0;
    margin-bottom:0;
  }
  &.drop-first {
    p:first-of-type::first-letter {
      .drop();
    }
  }
}


blockquote {
  font-style: italic;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 80px;
  -webkit-margin-end: 80px;
  &:before {
    content: "\201C";
    font-size: 75px;
    margin-left: -62px;
    font-family: georgia,serif;
    color: #ccc;
    position: absolute;
    margin-top: 14px;
  }
}


.run-in {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
}