<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>$title$</title>
        <meta name="description" content="Mechanical Elephant is a design and technical studio created by Matthew Griffith. This is about their creative process.">
        <meta name="viewport" content="width=device-width">
        <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
        <link href='http://fonts.googleapis.com/css?family=Lato&text=MECHANICALELEPHANT|Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
        <meta property="og:title" content="$title$" />
        <meta property="og:url" content="http://mechanical-elephant.com/$url$" />
        <meta property="og:description" content="$description$" />
        <meta property="og:image" content="http://mechanical-elephant.com/static/img/mortimer.png" />
        <style>
            $partial("templates/main.css")$
        </style>
    </head>
    <body>
        <div class="side-bar">

          <div id="gears">
            <a href="/">
                <img id="skull" class="elephant" src="/static/img/darker.png" width="170" height="233" />
                <img id="mortimer" class="elephant" src="/static/img/cover.png" width="170" height="233" />
                $partial("templates/planetary.svg")$
            </a>
          </div>
          $if(draft)$
            <div class="notice draft">
              <span class="title">This piece is still a draft!</span>
            </div>
          $endif$
          $if(book)$
            <div class="notice book-being-published">
              <div class="title">Wanna read the book?</div>
              This is a one of the chapters of a book that is being written!

              <p>Right now, it's being written.</p>
              <button>Send me more!</button>


            </div>
          $endif$
        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="page" class="container">
          <header class="logo">
              <h1><span class="dropped">M</span><span class="underlined">echanical Elephan</span><span class="dropped">t</span></h1>
              <span class="subtitle">The code, design, and thoughts of Matthew Griffith</span>
          </header>
          $body$

          <footer class="container">
              <div class="copyright">copyright Matthew Griffith 2015</div>
          </footer>
        </div>


        <!-- Piwik -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.mechanical-elephant.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="http://analytics.mechanical-elephant.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($$) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $$mcj = jQuery.noConflict(true);</script>
        <!-- End Piwik Code -->
    </body>
</html>
