<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mechanical Elephant</title>
        <meta name="description" content="Mechanical Elephant is a design and technical studio created by Matthew Griffith. This is about their creative process.">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Lato&text=MECHANICALELEPHANT|Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header class="container logo">
            <h1>Mechanical Elephant</h1>
            <a href="/">
                <div id="gears">
                    <img id="skull" class="elephant" src="/static/img/dark.png" width="170" height="233" />
                    <img id="mortimer" class="elephant" src="/static/img/cover.png" width="170" height="233" />
                    $partial("templates/planetary.svg")$
                </div>
            </a>
            <nav>
                $if(nav-selection-thoughts)$
                    <a class="nav-link nav-selection" href="/">Thoughts</a>
                $else$
                    <a class="nav-link" href="/">Thoughts</a>
                $endif$

                $if(nav-selection-archive)$
                    <a class="nav-link nav-selection" href="/archive">Archive</a>
                $else$
                    <a class="nav-link" href="/archive">Archive</a>
                $endif$

                $if(nav-selection-about)$
                    <a class="nav-link nav-selection" href="/about">About</a>
                $else$
                    <a class="nav-link" href="/about">About</a>
                $endif$
            </nav>
            $partial("templates/break.svg")$
        </header>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="page" class="container">
            $body$
        </div>

        <footer>
            <div class="container copyright">copyright Matthew Griffith 2015</div>
        </footer>

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.mechanical-elephant.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="http://analytics.mechanical-elephant.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
